//@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,500&subset=cyrillic';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=cyrillic');
$mainFontFamily:'Roboto';
$italicFontFamily:'Playfair Display', serif;
$fontSize: 18px;
$siteMaxWidth: 1260px;
$siteMinWidth: 300px;
$wrapperSidePaddings: 10px;
$darkColor:#000;
$brownColor:#4d4d4d;
$darkBlueColor:#002d70;
$lightBlueColor:#496DFF;
$greyColor:#b2c0d4;
$brownLightColor:#f4f2ed;
$greenColor:#daefed;
$blueGreyColor:#dbe6f6;
$blueGreyLilghtColor:#edf3fb;
$purpleDarkColor:#f0e2f2;
$purpleColor:#fde7e7;
$btnHoverColor:#0032fb;